
a {
	text-align: left;
	font-size: 1.25em;
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	letter-spacing: -0.3px;
	text-transform: none;
	font-family: "Barlow";
	color: #D9E0EB;
}

a:link {
	text-decoration: underline;
}


div {
	text-align: center;
	padding-top: 40px;
}

li {
	  list-style: none;
}

ul {
	padding: 0;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen
and (max-device-width: 600px) {

	div > h1 {
		font-size: 4em;
	}

	ul > a {
		font-size: 3em;
		line-height: 2em;
	}


}

h1 {
	margin: auto;
	max-width: 800px;
	width: 98%;
	padding-top: 40px;
	padding-bottom: 30px;
	color: #FEFEFE;
}

body {
	color: #D9E0EB;
	font-family: "Barlow";

	--color-tint-1: rgba(110, 176, 230, 1);
	--color-tint-2: rgba(230, 60, 98, 1);
	--color-tint-3: rgba(113, 210, 164, 1);
	--color-on-tint: rgba(255, 255, 255, 1);
	--color-label-1: rgba(254, 254, 254, 1);
	--color-label-2: rgba(217, 224, 235, 1);
	--color-label-3: rgba(180, 192, 210, 1);
	--color-label-4: rgba(112, 124, 142, 1);
	background-color: rgba(13, 22, 35, 1);
	--color-background-1: rgba(13, 22, 35, 1);
	--color-background-2: rgba(29, 40, 56, 1);
	--color-separator-on-light: rgba(204, 221, 255, 0.1);
	--color-light-1: rgba(230, 235, 242, 1);
	--color-dark-transparent: rgba(24, 24, 24, 0.7);
}

